body {
    font-family: 'Poppins';
    background-color: #bde3f4;
    text-align: center;

}

.open-sans {
    font-family: 'Open Sans', sans-serif;
}

.garamond {
    font-family: 'EB Garamond', serif;
    font-size: 20px;
}

.oxygen {
    font-family: 'Oxygen', sans-serif;
}

.hero {
    background: radial-gradient(orange, gold);
    background-size: cover;
    margin-bottom: 25px;
}

.hero-mid {
    background: radial-gradient(orange, gold);
    background-size: cover;
    margin-top: 25px;
    border-radius: 25px;
    position: relative;
    width: 75%;
    left: 50%;
    transform: translateX(-50%);
    height: auto;

}

.top-slides {
    background: orange;
    animation: mymove 5s infinite;
    text-align: center;
    height: 100%;
}

.top-slides p {
    margin-bottom: 0rem;
}

@keyframes mymove {
    from {
        background-color: orange;
    }

    to {
        background-color: white;
    }
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.container-mid {
    max-width: 900px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 70px;
    line-height: 70px;
    margin: 20px 0;
    color: #ff523b;

}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    padding: 30px;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

div.scrollmenu .bracket-img:hover {
    background-color: rgb(82, 192, 243);
}

.bracket {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.bracket-content {
    color: #ff523b;
}

.bracket-img {
    border-radius: 20px;
    padding: 3px;
    width: 250px;
    height: 250px;
    background-color: #ffe0b3;
}

@media(max-width: 500px) {
    .bracket-img {
        border-radius: 20px;
        padding: 3px;
        width: 150px;
        height: 150px;
        background-color: #ffe0b3;
    }
}

.bracket-img img {
    width: 100%;
    height: 100%;
}

/*product*/
.add-btn {
    margin: 5px 40px 5px 0;
}

.add-btnn {
    margin: 5px 0 5px 0;
    background-color: skyblue;
    border: 1px solid orange;
    border-radius: 10px;
}

.add-btnn:hover {
    background-color: rgb(82, 192, 243);
}

.card-img {
    width: 100%;
}

.card-details {
    text-align: center;
}

.card-card {
    width: 17rem;
    padding: 20px;
}

@media(max-width: 500px) {
    .card-card {
        width: 9.5rem;
        padding: 20px;
    }
}

.bold {
    font-weight: bold;
}

.small-container {
    max-width: 1180px;
    margin: auto;
    align-items: center;
}


.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 80px;
    color: #555;
}

.title::after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
}

@media(max-width:500px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        text-align: center;
    }
}

.see-more {
    text-align: center;
}


/*Footer*/
.footer-parent {
    background-color: rgb(82, 192, 243);
    text-align: center;
    color: black;
    padding: 20px 0 50px 0;
    margin-top: 80px;


}

.footer-parent h4 {
    margin: 20px 0 30px 0;
}

.footer-child {
    text-align: left;
    width: auto;
    display: inline-block;
}

@media (max-width: 800px) {
    .footer-child {
        text-align: center;
        width: auto;
        display: inline-block;
    }
}